:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --default-color: #5075ff;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
#app {
  height: 100%;
  background-color: #f5f6f7;
  overflow: auto;
}
* {
  margin: 0;
  padding: 0;
}
div, ul, li {
  box-sizing: border-box;
  line-height: 1;
}
input, textarea {
  background-color: transparent;
  outline: none;
  border: none;
  color: #333;
  font-size: 14px;
}
button {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.van-dialog {
  width: 70% !important;
}
.van-dialog__header {
  padding-top: 15px !important;
  padding-bottom: 15px;
}